<div class='container index p-5 list mt-5 mb-5'>
    <div class='row'>
        <div class='col-md-6 mt-5'>
            <h1>Funcionários</h1>
        </div>
        <div class='col-md-6 mt-5 text-end'>
            <%= link_to 'Novo Funcionário', new_employee_path, class: 'btn btn-primary float-right' %>
            <%= link_to 'Gerar Excel', export_file_employees_path, class: 'btn btn-success float-right me-2' %>
        </div>
    </div>

    <div class='row mt-3 mb-3'>
        <div class='col-md-12'>
            <h4 class="color">Pesquisar</h4>
            <%= form_for @q, url: employees_path, method: :get, html: { class: '' } do |f| %>
                <div class='row form-floating m-1 mb-3'>
                    <%= f.text_field :name_or_email_or_role_name_or_register_number_cont, class: 'form-control', placeholder: 'Nome', id: 'floatingInput' %>
                    <%= f.label :name_or_email_or_role_name_or_register_number_cont, 'Pesquise por Nome, Email, CPF, RG ou Cargo' %>
                </div>
                <div class='text-end'>
                    <%= f.submit 'Pesquisar', class: 'btn btn-primary' %>
                </div>
            <% end %>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-12'>
        <table class='table table-striped'>
            <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>RG</th>
                <th>CPF</th>
                <th>Cargo</th>
                <th colspan='3'>Opções</th>
            </tr>
            </thead>
            <tbody>
            <% @employees.each do |employee| %>
                <tr>
                <td><%= employee.name %></td>
                <td><%= employee.email %></td>
                <td><%= employee.register_number %></td>
                <td><%= employee.cpf %></td>
                <td><%= employee.role.name %></td>
                <td>
                    <%= link_to edit_employee_path(employee), class: 'btn btn-primary' do %>
                        <i class="bi bi-pencil-square"></i>
                    <% end %>
                </td>

                <td class='text-center'>
                    <%= button_to employee_path(employee), method: :delete, class: 'btn btn-danger' do %>
                        <i class="bi bi-trash"></i>
                    <% end %>
                </td>
                </tr>
            <% end %>
            </tbody>
        </table>
        </div>
    </div>

    <div class='row mt-5'>
        <div class='col-md-12 d-flex justify-content-center'>
            <%= paginate @employees %>
        </div>
    </div>
</div>
