<!DOCTYPE html>
<html>
  <head>
    <title>MvcWithBootstrap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%= link_to 'MvcWithBootstrap', root_path, class: 'navbar-brand' %>

        <div class="navbar-nav">
          <% if user_signed_in? %>
            <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container d-flex justify-content-center align-items-center w-100" style="min-height: 100vh;">
      <%= yield %>
    </div>
  </body>
</html>
